---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all %}
        <url>
            <loc>{{ ["https://", site.hostname, page.url | url | prettyURL] | join }}</loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
            <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "weekly" }}</changefreq>
        </url>
    {% endfor %}
</urlset>
