root: true

env:
    node: true

extends:
    "./conf/eslint.json"

rules:
    indent: [2, 4, {indentSwitchCase: true}]
    brace-style: [2, "1tbs"]
    camelcase: [2, { properties: "never" }]
    callback-return: [2, ["cb", "callback", "next"]]
    comma-style: [2, "last"]
    default-case: 2
    func-style: [2, "declaration"]
    guard-for-in: 2
    no-floating-decimal: 2
    no-nested-ternary: 2
    no-undefined: 2
    radix: 2
    space-after-function-name: [2, "never"]
    space-after-keywords: [2, "always"]
    space-before-blocks: 2
    spaced-line-comment: [2, "always", { exceptions: ["-"]}]
    strict: [2, "global"]
    valid-jsdoc: [2, { prefer: { "return": "returns"}}]
    wrap-iife: 2

    # Previously on by default in node environment
    no-catch-shadow: 0
    no-console: 0
    no-mixed-requires: 2
    no-new-require: 2
    no-path-concat: 2
    no-process-exit: 2
    global-strict: [0, "always"]
    handle-callback-err: [2, "err"]
