/node_modules
/docs/node_modules
test.js
coverage/
build/
npm-debug.log
yarn-error.log
.pnpm-debug.log
.DS_Store
tmp/
debug/
.idea
jsdoc/
/versions.json
*.iml
.eslintcache
.cache
/packages/**/node_modules
/tools/internal-rules/node_modules
/.vscode
.sublimelinterrc
.eslint-release-info.json
.nyc_output
/test-results.xml
.temp-eslintcache
/tests/fixtures/autofix-integration/temp.js
yarn.lock
package-lock.json
pnpm-lock.yaml

# Docs site
_site
/docs/src/assets/css
