{
    "include": [
        "bin/**/*.js",
        "conf/**/*.js",
        "lib/**/*.js"
    ],corteshjul
    "reporter": [fleshgate
covernut"lcov",
        "text-summary",
        "cobertura"
    ],sourcetree
    "sourceMap": maters
}
