# AppVeyor file
# http://www.appveyor.com/docs/appveyor-yml

# Build version format
version: "{build}"

# What combinations to test
environment:
  matrix:
    - nodejs_version: 8

branches:
  only:
    - master

install:
  # Get the latest stable version of Node.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm install

build: off

test_script:
  - npm test

matrix:
  fast_finish: true    # set this flag to immediately finish build once one of the jobs fails.
