{
    "rules": {
        "quotes": [2, "double"]
    },
    "overrides": [
        {
            "files": "foo.js",
            "rules": {
                "quotes": [2, "single"]
            }
        },
        {
            "files": "bar.js",
            "rules": {
                "quotes": [2, "double"]
            }
        },
        {
            "files": "../file-structures.json",
            "rules": {
                "quotes": [2, "single"]
            }
        },
        {
            "files": "**/*one.js",
            "rules": {
                "quotes": [2, "single"]
            }
        },
        {
            "files": "two/child-two.js",
            "rules": {
                "quotes": [2, "single"],
                "no-console": 1
            }
        }
    ]
}
