.hero-ad {
    @media all and (max-width: 800px) {
        display: none;
    }
}

.docs-ad {
    height: 290px;
}

/*
 * Carbon Ads
 * https://www.carbonads.net/
 */

#carbonads * {
    margin: initial;
    padding: initial;
}

#carbonads {
    display: inline-block;
    margin: 2rem 0;
    padding: .6em;
    font-size: 1rem;
    overflow: hidden;
    background-color: var(--body-background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);

    .docs-main & {
        margin: 0 0 2rem;
    }

    @media all and (max-width: 800px) {
        display: none !important;
    }
}

.jumbotron #carbonads {
    border: solid 1px hsla(250, 20%, 50%, 0.6);
    background-color: hsla(0, 0%, 70%, 0.15);
}

#carbonads a {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

#carbonads a:hover {
    text-decoration: none;
    color: var(--link-color);
}

.jumbotron #carbonads a {
    color: #eee;
}

.jumbotron #carbonads a:hover {
    color: #ccc;
}

#carbonads span {
    display: block;
    position: relative;
    overflow: hidden;
}

#carbonads .carbon-wrap {
    display: flex;
    flex-direction: column;
    max-width: 130px;
}

#carbonads .carbon-img img {
    display: block;
}

#carbonads .carbon-text {
    margin-top: 10px;
    line-height: 1rem;
    font-size: .7em;
    font-weight: 500;
    text-align: left;
}

#carbonads .carbon-poweredby {
    display: block;
    margin-top: 10px;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .1ch;
    text-transform: uppercase;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    #carbonads {
        margin-top: 0;
        font-size: 12px;
    }

    #carbonads .carbon-wrap {
        display: flex;
        flex-direction: row;
        max-width: 330px;
    }

    #carbonads .carbon-text {
        margin: 0 0 14px 10px;
        font-size: 14px;
        text-align: left;
    }

    #carbonads .carbon-poweredby {
        position: absolute;
        bottom: 0;
        left: 142px;
        font-size: 8px;
    }
}

/*
 * Ethical Ads
 */

[data-ea-publisher].loaded .ea-content,
[data-ea-type].loaded .ea-content {
    background-color: var(--body-background-color) !important;
    border: 1px solid var(--border-color) !important;
}

[data-ea-publisher].loaded .ea-content a:link,
[data-ea-type].loaded .ea-content a:link {
    color: var(--body-text-color) !important;
}

[data-ea-publisher].loaded .ea-callout a:link,
[data-ea-type].loaded .ea-callout a:link {
    color: var(--body-text-color) !important;
}

.jumbotron [data-ea-publisher].loaded .ea-content a,
.jumbotron [data-ea-type].loaded .ea-content a {
    color: #eee;
}

.jumbotron [data-ea-publisher].loaded .ea-content a:hover,
.jumbotron [data-ea-type].loaded .ea-content a:hover {
    color: #ccc;
}
