@import "tokens/themes";
@import "tokens/spacing";
@import "tokens/typography";
@import "tokens/ui";

@import "foundations";
@import "syntax-highlighter";
@import "docs-header";
@import "docs-footer";
@import "eslint-site-footer";
@import "eslint-site-header";
@import "forms";
@import "docs";
@import "versions";
@import "languages";

@import "components/buttons";
@import "components/docs-navigation";
@import "components/toc";
@import "components/search";
@import "components/alert";
@import "components/rules";
@import "components/social-icons";
@import "components/hero";
@import "components/theme-switcher";
@import "components/version-switcher";
@import "components/language-switcher";
@import "components/docs-index"; // docs index on the main docs pages
@import "components/index"; // used in component library
@import "components/tabs";
@import "components/resources";

@import "ads";

@import "utilities";
