[class*='language-'] > .c-btn--copy {
    /*rtl:ignore*/
    direction: ltr;
    position: absolute;
    top: 12px;
    /*rtl:ignore*/
    right: 12px;
    z-index: 3;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--color-neutral-200);
    opacity: 0;
    cursor: pointer;
    background-image: url("/docs/head/assets/images/icons/copy.svg");
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition:
        border-color 0.25s,
        background-color 0.25s,
        opacity 0.25s;
}

[class*='language-']:hover > .c-btn--copy,
[class*='language-'] > .c-btn--copy:focus {
    opacity: 1;
}

[class*='language-'] > .c-btn--copy:hover,
[class*='language-'] > .c-btn--copy.copied {
    background-color: var(--color-neutral-300);
}

[class*='language-'] > .c-btn--copy.copied,
[class*='language-'] > .c-btn--copy:hover.copied {
    background-image: url("/docs/head/assets/images/icons/copied.svg");
}

[class*='language-'] > span.lang {
    position: absolute;
    top: 2px;
    /*rtl:ignore*/
    right: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-neutral-200);
    transition:
        color 0.4s,
        opacity 0.4s;
}

[class*='language-']:hover > .c-btn--copy + span.lang,
[class*='language-'] > .c-btn--copy:focus + span.lang {
    opacity: 0;
}
