@media all and (min-width: 800px) {
  .hero .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    align-items: center; } }

.hero .grid .span-1-7 {
  grid-column: 1 / 2; }

.hero .grid .span-10-12 {
  grid-column: 2 / 3;
  justify-self: end; }

.hero {
  border-bottom: 1px solid var(--divider-color);
  border-block-end: 1px solid var(--divider-color);
  background-color: var(--hero-background-color); }
  @media all and (min-width: 800px) {
    .hero {
      min-height: calc(285px + var(--space-xl-4xl)); } }
  .hero .content-container {
    padding: var(--space-xl-4xl) 0;
    margin: 0; }
  .hero > .content-container {
    margin: 0 auto;
    padding: 0 calc(1rem + 1vw);
    padding-bottom: 0;
    align-items: center; }

.hero--homepage .section-title {
  margin-bottom: 1.5rem;
  margin-block-end: 1.5rem; }

.hero--homepage .section-supporting-text {
  margin: 0;
  font-size: var(--step-1);
  text-align: left; }

.hero--homepage .eslint-actions {
  font-size: var(--step-1);
  margin-top: 3rem;
  margin-block-start: 3rem; }
