@charset "UTF-8";
.languages-list {
  margin: 0;
  padding: 0;
  font-size: var(--step-0); }
  .languages-list li {
    margin: 0; }
    .languages-list li:last-of-type a {
      border-bottom: 0; }
  .languages-list a {
    color: inherit;
    display: block;
    width: 100%;
    padding: .75rem .1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-color);
    border-block-end: 1px solid var(--divider-color); }
    .languages-list a[aria-current="true"] {
      font-weight: 500;
      color: var(--link-color); }
      .languages-list a[aria-current="true"]::after {
        content: "✔️"; }
    .languages-list a:hover {
      color: var(--link-color); }

.languages-section .flag {
  font-size: 2em;
  margin-right: .5rem;
  margin-inline-end: .5rem; }

.languages-section .languages-list {
  font-size: var(--step-1);
  border-left: 4px solid var(--tab-border-color);
  padding-left: 1rem;
  border-inline-start: 4px solid var(--tab-border-color);
  padding-inline-start: 1rem; }
