.c-slider[data-slider] {
  position: relative;
  padding: 0; }

@media all and (min-width: 1023px) {
  .c-slider__paddleNav {
    margin-top: -4rem;
    margin-block-start: -4rem;
    position: relative;
    z-index: 2; } }

.c-slider__paddleNav .c-slider__paddleNav__prev,
.c-slider__paddleNav .c-slider__paddleNav__next {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid transparent;
  border-radius: 50%;
  border-color: var(--divider-color);
  line-height: 0;
  background-color: var(--lighter-background-color); }
  .c-slider__paddleNav .c-slider__paddleNav__prev svg,
  .c-slider__paddleNav .c-slider__paddleNav__next svg {
    display: block;
    width: 100%;
    transition: color .1s linear;
    color: var(--dark-icon-color); }
  .c-slider__paddleNav .c-slider__paddleNav__prev[aria-disabled="true"] svg,
  .c-slider__paddleNav .c-slider__paddleNav__next[aria-disabled="true"] svg {
    color: var(--color-neutral-400); }
  .c-slider__paddleNav .c-slider__paddleNav__prev:hover svg,
  .c-slider__paddleNav .c-slider__paddleNav__next:hover svg {
    color: var(--link-color); }
  .c-slider__paddleNav .c-slider__paddleNav__prev[aria-disabled="true"]:hover svg,
  .c-slider__paddleNav .c-slider__paddleNav__next[aria-disabled="true"]:hover svg {
    color: var(--color-neutral-400); }
  .c-slider__paddleNav .c-slider__paddleNav__prev[aria-disabled="true"]:hover:focus,
  .c-slider__paddleNav .c-slider__paddleNav__next[aria-disabled="true"]:hover:focus {
    border-color: transparent; }
  .c-slider__paddleNav .c-slider__paddleNav__prev:focus, .c-slider__paddleNav .c-slider__paddleNav__prev:active,
  .c-slider__paddleNav .c-slider__paddleNav__next:focus,
  .c-slider__paddleNav .c-slider__paddleNav__next:active {
    border-color: var(--link-color); }
  .c-slider__paddleNav .c-slider__paddleNav__prev[aria-disabled="true"]:focus,
  .c-slider__paddleNav .c-slider__paddleNav__next[aria-disabled="true"]:focus {
    border-color: transparent; }
  .c-slider__paddleNav .c-slider__paddleNav__prev:focus:not(:focus-visible),
  .c-slider__paddleNav .c-slider__paddleNav__next:focus:not(:focus-visible) {
    border-color: transparent; }
  .js-focus-visible .c-slider__paddleNav .c-slider__paddleNav__prev:focus:not(.focus-visible), .js-focus-visible
  .c-slider__paddleNav .c-slider__paddleNav__next:focus:not(.focus-visible) {
    border-color: transparent; }

.c-slider__slides-container {
  display: flex; }

@media all and (min-width: 1023px) {
  .c-slider__slides-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2rem; } }

.c-slider__slide {
  width: 100%;
  color: var(--headings-color);
  flex-shrink: 0;
  margin-bottom: 4rem;
  margin-block-end: 4rem;
  transition: opacity 0.5s cubic-bezier(0.39, 0.03, 0.56, 0.57), visibility 1s cubic-bezier(0.39, 0.03, 0.56, 0.57); }
  .c-slider__slide[data-hidden="true"] {
    visibility: hidden;
    opacity: 0; }
  .c-slider__slide[data-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.39, 0.03, 0.56, 0.57), visibility 0.2s cubic-bezier(0.39, 0.03, 0.56, 0.57); }

.c-slider--testimonials .c-slider__testimonial {
  margin: 0; }

.c-slider--testimonials .c-slider__testimonial__img {
  display: none; }

.c-slider--testimonials .c-slider__testimonial__content {
  font-size: var(--step-1);
  margin: 0 auto; }
  .c-slider--testimonials .c-slider__testimonial__content p:last-of-type {
    margin-bottom: 0;
    margin-block-end: 0; }

.c-slider--testimonials .c-slider__testimonial__footer {
  margin-top: var(--space-l-xl);
  margin-bottom: 3rem;
  margin-block-start: var(--space-l-xl);
  margin-block-end: 3rem; }

.c-slider--testimonials .c-slider__testimonial__footer cite {
  font-style: normal;
  font-size: 1.125rem; }

.c-slider--testimonials .c-slider__testimonial__author {
  font-weight: 500; }

.c-slider--testimonials .c-slider__testimonial__author-role {
  color: var(--body-text-color); }

.c-slider--testimonials .c-slider__testimonial__author,
.c-slider--testimonials .c-slider__testimonial__author-role {
  display: block;
  margin-bottom: 0;
  margin-block-end: 0; }

.js-slider .c-slider__slides-container {
  overflow: hidden; }

@media all and (min-width: 1023px) {
  .js-slider .person__photo {
    display: none; } }

.js-slider .c-slider__slides-wrapper {
  width: 100%;
  grid-gap: 0;
  display: flex;
  align-items: center;
  transition: transform 0.4s cubic-bezier(0.39, 0.03, 0.56, 0.57); }

.js-slider .c-slider__slide {
  margin: 0;
  flex-shrink: 0;
  width: 100%; }
  @media all and (min-width: 1023px) {
    .js-slider .c-slider__slide {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 2rem;
      align-items: center; } }

.js-slider .c-slider__testimonial__img {
  display: block;
  border-radius: var(--border-radius);
  max-height: 550px;
  overflow: hidden; }
  @media all and (max-width: 1023px) {
    .js-slider .c-slider__testimonial__img {
      display: none; } }
  .js-slider .c-slider__testimonial__img img {
    object-fit: cover; }
