name: Annotate PR with trunk issues

on:
    workflow_run:
        workflows: [Pull Request]
        types: [completed]

permissions: read-all

jobs:
    trunk_check:
        name: Trunk Check Annotate
        runs-on: ubuntu-latest

        permissions:
            checks: write

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Trunk Check
              uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
              with:
                  post-annotations: true # only for fork PRs
