name: CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

permissions:
    contents: read

jobs:
    verify_files:
        name: Verify Files
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"
            - name: Install Packages
              run: npm install

            - name: Install Docs Packages
              working-directory: docs
              run: npm install

            - name: Lint Files (eslint)
              uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
              with:
                  # Run on everything except the docs folder.
                  arguments: --ignore=docs/** --filter=eslint
                  check-mode: all

            - name: Lint Files (other)
              uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
              with:
                  # Run on everything except the docs folder.
                  arguments: --ignore=docs/** --filter=-eslint

            - name: Check Rule Files
              run: node Makefile checkRuleFiles

            - name: Check Licenses
              run: node Makefile checkLicenses

            - name: Lint Docs Files (eslint)
              uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
              with:
                  # Run only on the docs folder.
                  arguments: --ignore=** --ignore=!docs/** --filter=eslint
                  check-mode: all

            - name: Lint Docs Files (other)
              uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
              with:
                  # Run only on the docs folder.
                  arguments: --ignore=** --ignore=!docs/** --filter=-eslint

            - name: Check Rule Examples
              run: node Makefile checkRuleExamples

            - name: Check Rule Types
              run: npm run lint:rule-types

            - name: Lint Files, Dependencies, & Exports
              run: npm run lint:unused

    test_on_node:
        name: Test
        strategy:
            matrix:
                os: [ubuntu-latest]
                node: [25.x, 24.x, 22.x, 20.x, "20.19.0"]
                NODE_OPTIONS: [""]
                include:
                    - os: windows-latest
                      node: "lts/*"
                    - os: macOS-latest
                      node: "lts/*"
                    - os: ubuntu-latest
                      node: 24.x

                      # `--experimental-strip-types` is enabled by default in Node.js 24.x.
                      # This additional environment is necessary only to test `--experimental-transform-types`,
                      # as it is not enabled by default in any Node.js version yet.
                      NODE_OPTIONS: "--experimental-transform-types"
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node }}
            - name: Install Packages
              run: npm install
            - name: Test
              env:
                  NODE_OPTIONS: ${{ matrix.NODE_OPTIONS }}
              run: node Makefile mocha
            - name: Fuzz Test
              run: node Makefile fuzz
            - name: Test EMFILE Handling
              run: npm run test:emfile

    test_on_browser:
        name: Browser Test
        runs-on: ubuntu-latest
        env:
            TERM: xterm-256color
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "20" # Should be the same as the version used on Netlify to build the ESLint Playground
            - name: Install Packages
              run: npm install
            - name: Test
              run: node Makefile cypress
            - name: Fuzz Test
              run: node Makefile fuzz

    test_types:
        name: Test Types (TypeScript ${{ matrix.typescript }}) of ${{ matrix.package.name }}
        runs-on: ubuntu-latest

        strategy:
            matrix:
                typescript: ["5.x", "5.3.2"]
                package:
                    [
                        { name: eslint, directory: . },
                        {
                            name: eslint-config-eslint,
                            directory: packages/eslint-config-eslint,
                        },
                        { name: "@eslint/js", directory: packages/js },
                    ]

        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"
            - name: Install Packages
              run: npm install

            - name: Install Packages for ${{ matrix.package.name }}
              working-directory: ${{ matrix.package.directory }}
              run: npm install --legacy-peer-deps

            - name: Install TypeScript ${{ matrix.typescript }}
              working-directory: ${{ matrix.package.directory }}
              run: npm install --legacy-peer-deps --no-save typescript@${{ matrix.typescript }}

            - name: Test types for ${{ matrix.package.name }}
              working-directory: ${{ matrix.package.directory }}
              run: npm run test:types

    test_package_manager:
        name: Test Package Managers
        uses: eslint/workflows/.github/workflows/ci-package-manager.yml@main

    pnpm_test:
        name: Test pnpm Type Support
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
              with:
                  version: latest

            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Run pnpm test
              run: npm run test:pnpm
